* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    color: white;
    background-color: rgb(72, 47, 218);
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    padding: 20px;
}

a:hover {
    background-color: rgb(212, 209, 218);
    color: black;
}